<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>





<!-- router.get('/search', async function(req, res, next) {

  

  
    var data = await empModel.find({});
     res.render('index', { title: 'Employee Records',records:data }); -->